<section class="telaJogo">
      <div class="topoJogo">

      </div>
      <div class="campoJogo">
            <div class="LadoEsquerdoTabuleiro ultimaDiv primeiraDiv">
                  <div class="casaEsquerda primeiraDiv" id="casaEsquerda10">
                        <img src="../../assets/queijo.png" alt="" class="imagemQueijo" >
                  </div>
                  <div class="casaEsquerda" id="casaEsquerda9">
                        <img src="../../assets/buraco.png" alt="" class="imagemBuraco">
                  </div>
                  <div class="casaEsquerda" id="casaEsquerda8">
                        <img src="../../assets/rato2.png" alt="" class="imagemRato" *ngIf="posicaoAtualJogador2==8">
                  </div>
                  <div class="casaEsquerda" id="casaEsquerda7">
                        <img src="../../assets/buraco.png" alt="" class="imagemBuraco">
                  </div>
                  <div class="casaEsquerda" id="casaEsquerda6">
                        <img src="../../assets/buraco.png" alt="" class="imagemBuraco" >
                  </div>
                  <div class="casaEsquerda" id="casaEsquerda5">
                        <img src="../../assets/rato2.png" alt="" class="imagemRato" *ngIf="posicaoAtualJogador2==5">
                  </div>
                  <div class="casaEsquerda" id="casaEsquerda4">
                        <img src="../../assets/buraco.png" alt="" class="imagemBuraco" >
                  </div>
                  <div class="casaEsquerda" id="casaEsquerda3">
                        <img src="../../assets/rato2.png" alt="" class="imagemRato" *ngIf="posicaoAtualJogador2==3">
                  </div>
                  <div class="casaEsquerda" id="casaEsquerda2">
                        <img src="../../assets/rato2.png" alt="" class="imagemRato" *ngIf="posicaoAtualJogador2==2">
                  </div>
                  <div class="casaEsquerda ultimaDiv" id="casaEsquerda1"> 
                        <img src="../../assets/rato2.png" alt="" class="imagemRato" *ngIf="posicaoAtualJogador2==1" >
                  </div>

            </div>
            
           <div class="ladoDireitoTabuleiro ultimaDiv primeiraDiv">
                  <div class="casaDireita primeiraDiv"  id="casaDireita10">
                        <img src="../../assets/queijo.png" alt="" class="imagemQueijo">
                  </div>
                  <div class="casaDireita"  id="casaDireita9">
                        <img src="../../assets/buraco.png" alt="" class="imagemBuraco">
                  </div>
                  <div class="casaDireita"  id="casaDireita8">
                        <img src="../../assets/rato1.png" alt="" class="imagemRato" *ngIf="posicaoAtualJogador1==8">
                  </div>
                  <div class="casaDireita"  id="casaDireita7">
                        <img src="../../assets/buraco.png" alt="" class="imagemBuraco" >
                  </div>
                  <div class="casaDireita"  id="casaDireita6">
                        <img src="../../assets/buraco.png" alt="" class="imagemBuraco" >
                  </div>
                  <div class="casaDireita"  id="casaDireita5">
                        <img src="../../assets/rato1.png" alt="" class="imagemRato" *ngIf="posicaoAtualJogador1==5">
                  </div>
                  <div class="casaDireita"  id="casaDireita4">
                        <img src="../../assets/buraco.png" alt="" class="imagemBuraco">
                  </div>
                  <div class="casaDireita" id="casaDireita3">
                        <img src="../../assets/rato1.png" alt="" class="imagemRato" *ngIf="posicaoAtualJogador1==3">
                  </div>
                  <div class="casaDireita" id="casaDireita2">
                        <img src="../../assets/rato1.png" alt="" class="imagemRato" *ngIf="posicaoAtualJogador1==2">
                  </div>
                  <div class="casaDireita ultimaDiv" id="casaDireita1">
                        <img src="../../assets/rato1.png" alt="" class="imagemRato" *ngIf="posicaoAtualJogador1==1">
                  </div>
           </div>

      </div>

      <div class="jogoInformacoes">
            
            <div style="height: 50%">
                  <div class="mensagemJogo color" *ngIf="voltarInicio">
                        <p class="paragrafoFimDeJogo">VOCE CAIU NO BURACO</p>
                        <p class="paragrafoFimDeJogo">VOLTE AO INICIO</p>
                  </div>
                  <div class="mensagemJogo color" *ngIf="jogarNovamente" style="margin-top: 20%">
                        <p class="paragrafoFimDeJogo">JOGUE NOVAMENTE</p>
                  </div>
            </div>


            <div style="height: 50%">
                  <div>
                        <p class="paragrafoFimDeJogo"> Vez do {{ ratoVezJogada }}</p>
                  </div>
                  <div class="numeroSorteado">
                        <span id="numeroAtual" >{{numeroSorteado}}</span>
                  </div>
                  <button (click)="jogar(botaoSortear)" #botaoSortear *ngIf="botaoHabilitado" class="botaoSortear">Sortear</button>
            </div>

      </div>
      <div class="chaoJogo"></div>
            
      <div class="fimDeJogo" *ngIf="fimDeJogo">
            <div class="fimDeJogoMensagem">
                  <div *ngIf="vencedor=='rato1'; else rato2Vencedor">
                        <img src="../../assets/rato1.png" alt="" class="imagemRatoFinalJogo">
                  </div>
                  <ng-template #rato2Vencedor>
                        <img src="../../assets/rato2.png" alt="" class="imagemRatoFinalJogo">
                  </ng-template>
                  <div *ngIf="primeiraVezJogar==false; else primeiroJogo">
                        <p class="paragrafoFimDeJogo">O {{ vencedor }} venceu !!!</p>
                        <p class="paragrafoFimDeJogo">Deseja jogar novamente ?</p>
                        <button class="btnFinalJogo" (click)="comecarJogo()">Jogar novamente</button>
                  </div>
                  <ng-template #primeiroJogo>
                        <div>
                              <p class="paragrafoFimDeJogo">Tente atravessar o rio e pegar o queijo primeiro que seu adversario</p>
                              <p class="paragrafoFimDeJogo">Cuidado com os buracos no caminho !!</p>
                              <button class="btnFinalJogo" (click)="comecarJogo()">Começar</button>
                        </div>
                  </ng-template>
            </div>
      </div>

</section>