/*RESETS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body,html{
    height: 100%;
}

.imagemRato{
    height: 100%;
    width: 50%;
    transition: all 1s;
    animation: up 1.5s;
}

.imagemQueijo{
    height: 100%;
    width: 50%;
    transition: all 1s;
    animation: down 2s;
}

.imagemBuraco{
    height: 100%;
    width: 50%;
}

.telaJogo{
    
    background: url("../src/assets/fundo.jpeg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

.campoJogo{
    margin-left: 30px;
    margin-right: 0 !important;
    transition: all 1s;
   /* background-color: brown;*/
    background: url("../src/assets/rocks.jpeg");
    background-size: 200%;
    height: 80%;
    width: 40%;
    float: left;
}

.chaoJogo{
    height: 15%;
    width: 100%;
    
    clear: both;
    background: url("../src/assets/rocks.jpeg");
    background-size: 100%;
}
.topoJogo{
    height: 5%;
    width: 100%;
    box-shadow: 2px 2px 3px 1px rgba(204, 204, 204, 0.247);
    clear: both;
    background: url("../src/assets/rocks.jpeg");
    background-size: 100%;
}
.jogoInformacoes{
    display: inline-block;
    height: 80%;
    width: 50%;
    
    float: right;
    padding: 10px;
    text-align: center;
}

.casaEsquerda{
    height: 10%;
    width: 100%;
    border: 1px solid #999;
    
    text-align: center;
    box-shadow: -4px 0px 0px 0px rgba(221, 221, 221, 0.137); 
    font-size: 170%;
    
}


#casaEsquerda1{
   /* animation: piscarBorda 1s 3; */
}
.casaDireita{
    height: 10%;
    width: 100%;
   border: 1px solid #999;
    text-align: center;
    font-size: 170%;
    transition: all 1s;
}
.LadoEsquerdoTabuleiro{
   
    height: 100%;
    width: 50%;
    float: left;
}
.ladoDireitoTabuleiro{
    display: inline;
   
    height: 100%;
    width: 50%;
    float: right;
    
}

.ultimaDiv{
    border-bottom: transparent;
}
.primeiraDiv{
    border-top: transparent;
}
.numeroSorteado{
    font-size: 300%;
    color: red;
    
    font-weight: 800;
    text-shadow: 2px 2px blueviolet;

}

.mensagemJogo{
    
    animation: cair 1s;
   
}       

.color{
    color: rgb(235, 48, 48) !important;
    text-shadow: 2px 2px rgba(137, 43, 226, 0.788);
    font-weight: 900;
    font-family: Jelly;
    font-size: 60%;
    color: white;
    line-height: 30px;
}

.vezJogador{
    color: red;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@font-face{
    src: url("../src/assets/fonts/Jelly.ttf");
    font-family: Jelly;
}